{{!< layout}}
{{!--
    If we have received a macro body, render it.
    Otherwise, show a preview screen/message.
--}}
{{#if pageTitle}}
    <h1>{{{pageTitle}}}</h1>
{{/if}}
{{#if body}}
    {{{body}}}
{{else}}
    Here is a preview of your screen!
{{/if}}
